.user-header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    width: 100vw;
    height: 4em;
    background-color: grey;
    position: fixed;
    text-align: center;
}